
.product{
    display: grid;
    margin:auto;
    width: 90%;
    grid-template-columns: repeat(4,1fr);
    gap: 40px;
    justify-content: center;
   text-align: center;
}


/* .all{
    margin-top:50px; 
}
.main{
    margin-top:50px;
} */
